.languageBtnBox {
  display: flex;
  gap: 1.2rem;
}

.languageBtnBox button {
  color: #090909;
  padding: 0.6em 1.6em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.languageBtnBox button.active {
  background-color: #03258A;
  color: white;
  font-weight: bold;
}

.languageBtnBox button:hover {
  background-color: #e0e0e0;
}


.languageBtnBox button:hover {
  border: 1px solid white
}


.languageImgBox {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.skillImgBox {
  display: flex;
  align-items: center;
  /* background-color: red; */
  /* flex-wrap: wrap; */
  height: 3rem;
  /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #E0E4EB; */

}

.skillImgBox img {
  width: 6%;
  height: auto;
}

.skillImgBox p {
  padding-left: 1rem;
}